{% extends 'flatpages/default.html' %}

{% block title %}
{{ category.name }} Posts
{% endblock title %}

{% block content %}
<h1>News in {{ category.name }}</h1>
<hr>

    {% for post in post_by_category %}
<table>
    <tr>
        <td><strong><a href="{% url 'post_detail' post.pk %}">{{ post.name }}</a></strong></td>
    </tr>
    <tr>
        <td>{{ post.description | truncatewords:150 }}</td>
    </tr>
    <tr>
        <td>Author: {{ post.author }}</td>
    </tr>
    <tr>
        <td><i>Published date: {{ post.published_date }}</i></td>
    </tr>
<hr>
</table>

    {% endfor %}

<hr>

{% endblock content %}