{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h2>Sumbit Your Post</h2>

<a href="{% url 'post_create' %}"><button type="button">Submit</button>
</a>
<hr>
{% for post in posts %}
<table>
    <tr>
        <td><h1><strong><a href="{% url 'post_detail' post.id %}">{{ post.name }}</a></strong></h1></td>
    </tr>
    <tr>
        <td>{{ post.description | truncatewords:150 | safe}}</td>
    </tr>
    <tr>
        <td><strong>Author: </strong>{{ post.author }}</td>
    </tr>
    <tr>
        <td><i>Published date: {{ post.published_date }}</i></td>
    </tr>
    <hr>
</table>
{% endfor %}

<hr>

{% endblock content %}

